<div class="container margin_60_40">
  <div class="main_title center">
    <span><em></em></span>
    <h2>Questions?</h2>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <a class="box_topic" href>

        <h3>Until how late do you deliver?</h3>
        <p>We deliver as late as 9pm from all restaurants.</p>
      </a>
    </div>
    <div class="col-lg-4 col-md-6">
      <a class="box_topic" href>

        <h3>What payment methods do you accept?</h3>
        <p>We gladly accept all major credit cards.</p>
      </a>
    </div>
    <div class="col-lg-4 col-md-6">
      <a class="box_topic" href>

        <h3>I got an extra chocolate muffin with my order, what is this about?</h3>
        <p>That's just a small thank-you gift from FoodMe. Enjoy it!</p>
      </a>
    </div>
  </div>
</div>