
<div class="container margin_60_40">
  <div class="main_title center">
      <span><em></em></span>
      <h2>It's simple:</h2>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <a class="box_topic" href="#0">
        <span><i class="icon_wallet"></i></span>
        <h3>Enter delivery address</h3>
        <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris.</p>
      </a>
    </div>
    <div class="col-lg-4 col-md-6">
      <a class="box_topic" href="#0">
        <i class="icon_cloud-upload_alt"></i>
        <h3>Pick a great restaurant</h3>
        <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris.</p>
      </a>
    </div>
    <div class="col-lg-4 col-md-6">
      <a class="box_topic" href="#0">
        <i class="icon_lifesaver"></i>
        <h3>Select yummy food</h3>
        <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris.</p>
      </a>
    </div>
    <div class="col-lg-4 col-md-6">
      <a class="box_topic" href="#0">
        <i class="icon_globe-2"></i>
        <h3>Enter delivery time</h3>
        <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris.</p>
      </a>
    </div>
    <div class="col-lg-4 col-md-6">
      <a class="box_topic" href="#0">
        <i class="icon_document_alt"></i>
        <h3>Enter payment details</h3>
        <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris.</p>
      </a>
    </div>
    <div class="col-lg-4 col-md-6">
      <a class="box_topic" href="#0">
        <i class="icon_comment_alt"></i>
        <h3>And the food will be on the way!</h3>
        <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris.</p>
      </a>
    </div>
  </div>
</div>